.b-data {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.b-data h1 {
  text-align: center;
  margin: 20px 0;
  font-weight: 800;
}

.r-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  margin-left: 10px;
}

@media screen and (min-width: 1000px) {
  .b-data h1 {
    font-size: 7vw;
  }
  button {
    font-size: 5vw;
    font-weight: 800;
    background: none;
    border: none;
    margin-top: 20px;
  }

  .myDiv {
    width: 100vw;
    margin-bottom: 60px;
  }

  .myDiv h1 {
    font-size: 0;
    text-align: left;
    margin-left: 2.5vw;
    color: transparent;
  }

  .myDiv .images {
    width: 45vw;
    margin-right: min(20px, 1.2vw);
  }

  .myDiv .images img {
    width: calc(50% - 5px);
  }

  .myDiv .hotal-details {
    width: 50vw;
    min-height: 15px;
    padding: 0;
    font-size: 3vw;
    word-wrap: break-word; /* For old browser compatibility */
    overflow-wrap: break-word; /* Modern standard */
    overflow: hidden; /* Prevent horizontal scroll */
    white-space: normal;
  }

  .cd{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 5px;
  }

  .images .hotal-details{
    flex: 1;
  }


}

@media screen and (max-width: 1000px) {
  .b-data h1 {
    font-size: 9vw;
  }

  button {
    font-size: 7vw;
    font-weight: 800;
    background: none;
    border: none;
    margin-top: 20px;
  }

  .myDiv {
    display: none;
    margin-bottom: 40px;
  }

  .myDiv h1 {
    font-size: 6.6vw;
    font-weight: 600;
    text-align: left;
    margin-left: 20px;
  }

  .myDiv .images {
    min-height: 50px;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-left: 5vw;
    gap: 5px;
  }

  .myDiv .images img {
    width: calc(50% - 2.5px);
  }

  .myDiv .hotal-details {
    margin-top: 15px;
    min-height: 15px;
    width: 90vw;
    margin-left: 5vw;
    font-size: 4.5vw;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word; /* For old browser compatibility */
    overflow-wrap: break-word; /* Modern standard */
    overflow: hidden; /* Prevent horizontal scroll */
    white-space: normal;
  }

  .hotal-details h2{
    display: none;
  }




}
