@media screen and (min-width: 1000px) {
  html {
    background-image: url("../../Images/Contact-us/bg-con.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  body {
    background-color: rgba(61, 26, 26, 0.4);
    width: 100%;
    height: 100vh;
  }

  .topnav,
  .topnav h1,
  .desk-menu {
    background-color: rgba(61, 26, 26, 0.5);
  }

  .dis {
    width: calc(95%);
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
    font-size: 2.5vw;
    text-align: justify;
  }

  .dis h2 {
    text-align: center;
    padding-bottom: 10px;
  }

  .con h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 4vw;
  }
  .con .data {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin: auto;
    margin-top: 25px;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  .d1 {
    display: none;
  }

  .d2 {
    display: inline-block;
    padding-top: 20px;
    width: 60vw;
    font-size: 1.8vw;
  }

  .d3 {
    width: 40vw;
  }

  .d2,
  .d3 {
    flex: 1;
  }

  .d3 h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
  }

  .c-cont {
    width: fit-content;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: 2.1vw;
    border-radius: 15px;
    font-weight: 700;
    border: 0;
  }

  #watt {
    width: 20vw;
  }

  #deskd {
    display: block;
    padding-top: 30px;
  }

  #mobd {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../Images/Contact-us/bg-con-mob.jpg");
    /* The linear-gradient adds a semi-transparent overlay for 0.7 opacity effect */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  body {
    background-color: rgba(61, 26, 26, 0.4);
  }

  .dis {
    background-color: rgba(61, 26, 26, 0.2);
    width: calc(95% - 30px);
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px;
    color: rgb(255, 255, 255, 1);
    font-weight: 500;
    line-height: 1.5;
    font-size: 3.5vw;
    text-align: justify;
  }

  .dis h2 {
    text-align: center;
    padding-bottom: 10px;
  }

  .con h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 8vw;
  }

  .con .data {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    text-shadow: 1px 1px 4px #000;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  b {
    font-size: 4.5vw;
  }
  .d1 {
    line-height: 1.6;
    width: 95%;
    margin: auto;
    text-align: left;
  }
  .d1 > h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  #call {
    background-color: transparent;
    border: 0;
    padding: 10px;
    width: fit-content;
    font-size: 4.3vw;
    font-weight: 700;
  }

  .d2 {
    display: none;
  }

  .d3 {
    width: 100%;
    min-height: 170px;
  }

  .c-cont {
    width: 45vw;
    padding: 10px 20px;
    background-color: green;
    font-size: 4.3vw;
    font-weight: 700;
    border-radius: 20px;
  }

  #watt {
    font-size: 5vw;
  }

  #deskd {
    display: none;
  }

  #mobd {
    padding-top: 30px;
  }
}

* {
  color: white;
}

x,
x b {
  color: transparent;
  user-select: none;
}

.d3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.d31 {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}
